:root{
    background-color: white;
    color: black;
    --profile-image-size: 250px;
    --profile-border-size: calc(var(--profile-image-size) + 40px);
    --mainColor: #fff;
    --highlightColor: #2B293C;
    --highlightColor2: rgba(106, 73, 115, 0.5);
}

html{
    scroll-behavior: smooth;
    display: block;
    justify-content: center;
}
/* Keeps header at top of page at all times */
header{
    position: fixed;
    top: 0;
    width: 100%;
}
/* Navigational element styling for the blur and section height etc */
nav{
    background: var(--highlightColor2);
    backdrop-filter: blur(1rem);
    height: 6rem;
    width: 100%;
}
/* Styling for the name including transtiional elements to transition between colours */
.name{
    transition: all 0.25s ease-in-out;
    color: var(--mainColor);
    font-size: 50px;
    line-height: 100px;
    font-weight: bolder;
    margin-left: 20px;
    float: left;
}
.liam{
    transition: all 0.25s ease-in-out;
    color: var(--highlightColor);
    font-style: bold;
}
.name:hover{
    transition: all 0.25s ease-in-out;
    --mainColor: #2B293C;
    --highlightColor: #fff;
    cursor: pointer;
}
/* Styling for the nav buttons themselves, including transition between colours */
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}
nav ul li a{
    transition: all 0.25s ease-in-out;
    color: var(--mainColor);
    background-color: var(--highlightColor);
    border-radius: 5rem;
    padding: 1rem;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
nav ul li a:hover{
    transition: all 0.25s ease-in-out;
    background-color: var(--mainColor);
    color: var(--highlightColor);
    cursor: pointer;
}
section{
    height: 100vh;
}
.contentSpace{
    display: flex;
    margin: 0 2rem;
    padding-top: 7rem;
    justify-content: center;
}
.profileImage{
    border-radius: 5rem;
    width: 25vw;
    height: 25vw;
}
.aboutText{
    display: flex;
    border-radius: 5rem;
    background: var(--highlightColor2);
    padding: 2rem;
    height: 90vh;
}
.aboutText p{
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--mainColor);
    margin: 0 20rem;
}
.largeTile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease-in-out;
    width: 23vw;
    height: 50vh;
    margin: 1rem;
    background: var(--highlightColor2);
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5rem;
    color: var(--highlightColor);
    font-size: 3rem;
    text-align: center;
}
.projectImage{
    width: 75%;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.tileLink{
    transition: all 0.5s ease-in-out;
    background: var(--highlightColor);
    color: var(--mainColor);
    padding: 0.1rem;
    border-radius: 5rem;
    margin: 1rem;
    font-size: 2rem;
}
.largeTile:not(:hover) > .tileLink{
    transition: all 0.5s ease-in-out;
    display: none;
}
.largeTile:hover{
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: start;
    background: var(--highlightColor);
    color: var(--mainColor);
}
.largeTile:hover > .projectImage{
    display: none;
}
.tileLink:hover{
    transition: all 0.5s ease-in-out;
    background: var(--highlightColor2);
    color: var(--mainColor);
}
.contactSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactTitle{
    font-size: 3rem;
    background-color: var(--highlightColor2);
    padding: 1.5rem;
    border-radius: 5rem;
    color: var(--highlightColor);
    text-align: center;
    width: 75vw;
    margin-bottom: 3rem;
}
.noLinks{
    display: flex;
    flex-direction: column;
}
.contactLine{
    font-size: 2rem;
    background-color: var(--highlightColor2);
    padding: 1rem;
    border-radius: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links a{
    margin: 2rem;
}
.contactTile{
    color: var(--highlightColor);
    font-size: 10rem;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    line-height: 100%;
    align-content: center;
}
.resumeTile{
    display: flex;
    flex-direction: column;
    background-color: var(--highlightColor2);
    width: 20rem;
    align-items: center;
    border-radius: 1.5rem;
}
.resumeIcon{
    font-size: 10rem;
    color: var(--highlightColor);
}
.resume{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

@media all and (max-width: 1750px){
    .aboutText{
        flex-direction: column;
        align-items: center;
    }
}
@media all and (max-width: 1270px){
    .aboutText{
        flex-direction: column;
        align-items: center;
    }
    .aboutText p{
        margin: 1rem;
    }
}
@media all and (max-width: 600px){
    .name{
        font-size: 1.75rem;
    }

    .aboutText{
        flex-direction: column;
        align-items: center;
        height: 75vh;
    }
    .aboutText p{
        margin: 1rem;
        font-size: 1rem;
    }
}