:root{
    background-color: white;
    color: black;
    --profile-image-size: 250px;
    --profile-border-size: calc(var(--profile-image-size) + 40px);
    --mainColor: #fff;
    --highlightColor: #2B293C;
    --highlightColor2: rgba(106, 73, 115, 0.5);
}

html{
    scroll-behavior: smooth;
    display: block;
    justify-content: center;
}
/* Keeps header at top of page at all times */
header{
    position: sticky;
    top: 0;
}
/* Navigational element styling for the blur and section height etc */
nav{
    background: var(--highlightColor2);
    backdrop-filter: blur(1rem);
    height: 6rem;
    width: 100%;
}
/* Styling for the name including transtiional elements to transition between colours */
.name{
    transition: all 0.25s ease-in-out;
    color: var(--mainColor);
    font-size: 50px;
    line-height: 100px;
    font-weight: bolder;
    margin-left: 20px;
    float: left;
}
.liam{
    transition: all 0.25s ease-in-out;
    color: var(--highlightColor);
    font-style: bold;
}
.name:hover{
    transition: all 0.25s ease-in-out;
    --mainColor: #2B293C;
    --highlightColor: #fff;
    cursor: pointer;
}
/* Styling for the nav buttons themselves, including transition between colours */
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}
nav ul li a{
    transition: all 0.25s ease-in-out;
    color: var(--mainColor);
    background-color: var(--highlightColor);
    border-radius: 100vw;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
nav ul li a:hover{
    transition: all 0.25s ease-in-out;
    background-color: var(--mainColor);
    color: var(--highlightColor);
    cursor: pointer;
}
.about{
    display: flex;
    margin: 2rem;
}
.profileImage{
    border-radius: 5rem;
    width: 25%;
}
.aboutText{
    border-radius: 5rem;
    background: var(--highlightColor2);
    text-align: center;
    justify-content: center;
    padding: 5rem;
    font-size: 2.5rem;
    color: var(--mainColor);
    margin-left: 1rem;
}

/* START Styling for the Projects section*/
.feature-project-tile{
    transition: all 1s ease-in-out;
    width: 40vh;
    height: 70vh;
    background: var(--highlightColor);
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5vw;
}
.project-tile{
    width: 40vh;
    height: 34vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5vw;
    transition: all 1s ease-in-out;
    background: var(--highlightColor2);
}
.minor-project-tile{
    width: 40vh;
    height: 15vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5vw;
    transition: all 1s ease-in-out;
    background: var(--highlightColor2);
}
/* Grid setup */
.row-span-2{
    grid-row: span 2;
}
.row-span-4{
    grid-row: span 4;
}
.grid{
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
}

.feature-project-tile:hover img{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    opacity: 0.5;
}

.project-tile:hover,.minor-project-tile:hover{
    transition: all 0.5s ease-in-out;
    background: var(--highlightColor);
}
/* END Styling for the Projects section */